<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.vita.mapper.CategoryRequestMapper">

	<select id="selectList" resultType="me.vita.dto.CategoryRequestDTO">
		select bigGroup, categoryRequestSmallGroup, count(*) as count
		from categoryRequest
		where bigGroup = #{big}
		group by bigGroup, categoryRequestSmallGroup
		order by count desc
	</select>

	<select id="selectListFeedNo" resultType="int">
		select feedNo
		from categoryRequest
		where bigGroup = #{bigGroup} and categoryRequestSmallGroup=#{categoryRequestSmallGroup}
	</select>
	
	<delete id="delete">
		delete from categoryRequest
		where bigGroup = #{bigGroup} and categoryRequestSmallGroup=#{categoryRequestSmallGroup}
	</delete>
	
	<insert id="request" parameterType="me.vita.domain.CategoryRequestVO">
		INSERT INTO categoryRequest(categoryRequestNo, bigGroup, categoryRequestSmallGroup, categoryRequestDate, feedNo)
		VALUES(seq_categoryRequestNo.nextval, #{bigGroup}, #{categoryRequestSmallGroup}, sysdate, #{feedNo})
	</insert>
</mapper>