<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.vita.mapper.FavoriteMapper">
	
	<insert id="insert">
		insert into favorite(userId, feedNo, favoriteDate)
		values (#{userId}, #{feedNo}, sysdate)
	</insert>

	<delete id="delete">
		delete from favorite
		where userId = #{userId} and feedNo = #{feedNo}
	</delete>
	
</mapper>
