<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.vita.mapper.NotificationMapper">
	
	<insert id="insert">
		insert into notification(notifyNo, reqId, resId, feedNo, notifyType, notifyMsg, notifyDate, notifyChk)
		values (seq_notifyno.nextval, #{reqId}, #{resId, jdbcType=VARCHAR}, #{feedNo, jdbcType=INTEGER}, #{notifyType}, #{notifyMsg}, sysdate, 'F')
	</insert>

	<delete id="delete">
		delete from notification
		where reqId = #{reqId} and resId = #{resId} and notifyType = #{notifyType}
			<if test="feedNo != null">
				and feedNo = #{feedNo}
			</if>
	</delete>
	
	<update id="update">
		update notification set notifyChk = 'T'
		where resId = #{resId} and reqId = #{reqId} and notifyType = #{notifyType}
		<if test="feedNo != null">
			and feedNo = #{feedNo}
		</if>
	</update>
	
	<update id="updatenotifyChkAll">
		update notification set notifyChk = 'T'
		where resId = #{userId}
	</update>
	
	<select id="selectList" resultType="me.vita.dto.NotificationDTO">
		<![CDATA[
		select notifyNo, userId, feedNo, notifyType, notifyMsg, notifyDate, notifyChk, userNick, userImgUuid, userImgUploadPath, userImgFileName
		from(
		    select /*+INDEX_DESC(notification pk_notify_notifyno)*/
		        rownum rn, notifyNo, reqId as userId, feedNo, notifyType, notifyMsg, notifyDate, notifyChk, userNick, userImgUuid, userImgUploadPath, userImgFileName
		    from notification, userinfo
		    where notification.reqId = userinfo.userId and resId = #{userId}
		    )
		where rn < (#{page}*10)+10
		]]>
	</select>
	
	<select id="selectNotifyChkCount" resultType="int">
		select count(*) from notification
		where resId = #{userId}
	</select>
	
</mapper>
