<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.vita.mapper.ReplyMapper">
	
	<insert id="insert">	
		<!-- 테스트  
		insert into REPLY	 (REPLYNO, FEEDNO, REPLYCONTENT, REPLYDATE, USERID)
		values (seq_replyno.nextval, 1, '댓글내용', SYSDATE, '이승현')
		-->
		insert into reply (replyno, feedno, replycontent, replydate, userid)
		values (seq_replyno.nextval, #{feedNo}, #{replyContent}, SYSDATE, #{userId})
	</insert> 
	  
	<delete id="delete">	 
		delete from reply where replyno = #{replyNo}
	</delete>
 
	<select id="selectList" resultType="me.vita.dto.ReplyDTO">
		<![CDATA[
		
		SELECT usr.* , usr.userid isMyReply
      FROM (SELECT r.replyno, r.feedno, r.replyContent, r.replyDate,
             u.userid, u.userNick
            FROM reply r, userInfo u
            WHERE r.userid = u.userid(+) and r.feedno = #{feedNo}) usr
            order by usr.replyno desc
		]]>    
		<!-- AND rownum <= 10 -->
	<!-- 	<if test="page != 0">
			<![CDATA[and r.replyNo < #{page}]]>
		</if> -->
		
		
	</select> 
 
	<select id="selectCount" resultType="Integer">
		select count(*) 
	      from feed f
	      left outer join reply r
	                   on f.feedno = r.feedno
	      left outer join userinfo u
	                   on f.userid = u.userid
	     where f.feedno = #{feedNo}        
	</select>

</mapper> 