<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.vita.mapper.UserMapper">
	
	
	<insert id="insert">
		 INSERT INTO userinfo (userId, userPass, userNick, userEmail, userLock, userImgUuid, userImgUploadPath, userImgFileName, userRegDate, authKey, authStatus) 
		 VALUES (#{userId}, #{userPass}, #{userNick}, #{userEmail}, #{userLock}, #{userImgUuid}, #{userImgUploadPath}, #{userImgFileName}, sysdate, #{authKey}, #{authStatus}) 
	</insert>
	
	<select id="select" resultType="me.vita.dto.UserDTO">
		select u.userId, u.userNick, u.userLock, u.userImgUuid, u.userImgUploadPath, u.userImgFileName, flw.reqId, fli.resId isFollow
			from userInfo u, (select reqId
                  from follow
                  where  reqId = #{userId} AND resId = #{myId}) flw,
                  (select resId 
                  from follow
                  where reqId = #{myId} AND resId = #{userId}) fli   
			where userId = #{userId} AND u.userid = flw.reqId(+) and u.userId = fli.resId(+)
	</select>
	
	<select id="selectUserInfo" resultType="me.vita.domain.UserVO">
		select * from userinfo where userId = #{userId}
	</select>
	
	<select id="selectPw" resultType="String">
		select userpass from userinfo where userId=#{userId}
	</select>
	
	<select id="selectIdcnt" resultType="int">
		select count(*) from userinfo where userid = #{userId}
	</select>
	
	<select id="selectAuthstatus" resultType="String">
		select authstatus from userinfo where userid= #{userId}
	</select>
	
	<select id="selectAuthkey" resultType="String">
		select authkey from userinfo where userid= #{userId}
	</select>
	
	<update id="updateAuthstatus">
		update userinfo set authstatus='T' where userid=#{userId}
	</update>
	
	<select id="selectSearchkeyword" resultType="String">
		select searchKeyword from search 
		WHERE searchdate BETWEEN (sysdate-10) AND sysdate group by searchKeyword ORDER BY count(*) DESC
	</select>

</mapper>