
#rank{
    background: #dddedf;
    overflow: hidden;
    width: 200px;
    height: 30px;
    text-align: left;
    position:relative;
    padding-left: 20px;
	display: inline-block;
}
#rankLabel{
    overflow: hidden;
    height: 30px;
    padding-left: 20px;
	display: inline-block;
}

#rank-list a {
    color: #400040;
    text-decoration: none;
}

#rank-list a:hover {
    text-decoration: underline;
}

#rank-list {
    margin: 0;
}

#rank-list dt {
    display: none;
}

#rank-list dd {
    margin: 0;
}

#rank-list ol {
	position:absolute;
    list-style-type: none;
    padding:0px;
    margin:0px;
}

#rank-list li {
	margin-top:2px;
	margin-bottom:10px;
	height:20px;
}